/* 片头CG部分 */
.logo_background {
  width: 100%;
  height: 100vh;
  background-color: #ACD2D8;
  /* display: none; */
}
.logo_background .logoCG {
  width: 100%;
  height: 100vh;
  background: url(../img/logo2.gif) no-repeat center;
  margin: 0 auto;
  transition: 1s;
} 



